include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE.md
include README.md

include awsm/framework/CoreConfig.ini
include awsm/framework/recipes.ini
include awsm/framework/changelog.ini

recursive-include awsm/tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-exclude * *.grib2.*.idx

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
